
/* @import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic); */


@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:400,400italic,700,700italic);
/*
*/


$seriffont: 'PT Serif';

$sanseriffont: 'Lucida Grande','Libre Franklin', Helvetica, Verdana, san-serif;

$headlinefont: 'Lucida Grande','Libre Franklin', Helvetica, Verdana, san-serif;




html {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  background-color: #f7f7f7;
  font-family: $sanseriffont;
}


p {
}





/* f7f8f8 light gray */


a:link {
  text-decoration: none;
  color: black;
}


a:hover {
  text-decoration: underline;
  color: $darkblue;
}


p a:link {
  text-decoration: none;
  color: $darkblue;
}


main li a:link {
  text-decoration: none;
  color: $darkblue;
}



a:hover {
  text-decoration: underline;
}

b,strong {
  font-weight: 700;
}

i,em {
  font-style: italic;
}





/*
Headings
*/

h1 {
  font-size: 2em;
  padding-top: 1em;
  padding-bottom: .333em;
  line-height: 1.4;
  font-family: $headlinefont;
}


/*
Title headline for News update
*/



.view-home-segmented-0 .views-field-title  {
  font-family: $headlinefont;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1.4;
  font-weight: 700;
  font-size: 1.3em;
}


.view-home-segmented-0 .views-field-field-post-date {
  font-size: .9em;
  margin-bottom: 2px;
  margin-top: .75em;
  color: 888886;
  clear: both;
}


.view-home-segmented-0 .views-field-live-date .views-field-body p a {
  font-weight: 700;
  color: $darkblue;
}



.view-home-segmented-0 .field--name-body a {
  font-weight: 700;
}



.view-home-segmented.view-display-id-attachment_7 .views-field-field-source-line  {
  font-family: $headlinefont;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1.4;
  font-weight: 400;
  font-size: .8em;
}


.view-home-segmented.view-display-id-attachment_7 .view-header {
  font-family: $headlinefont;
  font-weight: 700;
  font-size: 1.1em;
}




/*
Title headline for Fast take
*/



.view-display-id-block_1 .views-field-title,
.view-display-id-block_3 .views-field-title,
.view-display-id-block_5 .views-field-title,
.view-display-id-block_7 .views-field-title,
.view-display-id-block_9 .views-field-title
  {
  font-family: $headlinefont;
  color: $darkblue;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 4px;
  margin-bottom: 0;
  line-height: 1.4;
  font-weight: 400;
  font-size: 1.0em;
}


/*
Source line for Fast take
*/

.view-display-id-block_1 .views-field-field-source-line,
.view-display-id-block_3 .views-field-field-source-line,
.view-display-id-block_5 .views-field-field-source-line,
.view-display-id-block_7 .views-field-field-source-line,
.view-display-id-block_9 .views-field-field-source-line
  {
  font-family: $headlinefont;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1.4;
  font-weight: 400;
  font-size: .8em;
}


/*
Fast take block
*/


.view-display-id-block_1 .view-content,
.view-display-id-block_3 .view-content,
.view-display-id-block_5 .view-content,
.view-display-id-block_7 .view-content,
.view-display-id-block_9 .view-content
 {
  background-color: #efefef;
  padding: 3px 6px 6px 9px;
  margin-bottom: 1.5em;
}


.view-display-id-block_1 .view-header,
.view-display-id-block_3 .view-header,
.view-display-id-block_5 .view-header,
.view-display-id-block_7 .view-header,
.view-display-id-block_9 .view-header
 {
  background-color: #efefef;
  padding: 9px 6px 0 9px;
  margin-top: 12px;
}











/*
Fast take block header
*/
.view-display-id-block_1 .view-header,
.view-display-id-block_3 .view-header,
.view-display-id-block_5 .view-header,
.view-display-id-block_7 .view-header,
.view-display-id-block_9 .view-header,
 {
  font-family: $headlinefont;
  font-weight: 700;
  font-size: 1.1em;
}




h1 {
  font-family: $headlinefont;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1.4;
  font-weight: 700;
  font-size: 1.3em;
}





h3 {
  font-size: 1.41em;
  padding-top: 1em;
  padding-bottom: .25em;
  font-weight: 700;
}





h4 {
  font-family: $headlinefont;
  font-size: 1.18em;
  padding-top: 1em;
  padding-bottom: .25em;
  font-weight: 700;
}








main
address {
  font-size: .94em;
  margin-bottom: .5em;
}








/*
Lists
*/

ul {
  font-size: 1em;
  list-style-position: outside;
}


ol {
  font-size: 1em;
  margin-left: 1em;
  list-style-position: outside;
}



ul li {
  font-size: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  font-size: 1em;
  margin-bottom: .25em;
  list-style-type: disc;
}


ol li {
  font-size: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  font-size: 1em;
  margin-bottom: .25em;
  list-style-type: decimal;
}





main ul {
  padding-left:17px;
}


main td ul {
  padding-left: .5em;
}


main td ol {
  padding-left: .5em;
}



main ul li {
  padding-left: 6px;
  margin-bottom: 0;
}



main ol {
  padding-left:17px;
}




main ol li {
  margin-bottom: 0;
}













/*
Node display
*/








/*
Special for front page of site
*/






/*

*/





/*
Draggable table sort handle
*/






.path-sorting-view td.views-field-title a.tabledrag-handle {
  font-family: "Lucida Grande", san-serif;
}












figure.align-left {
  margin-left: 0;
  width: 177px;
  padding-right:17px;
  float:left;
}

figure.align-left figcaption {
  font-family: $sanseriffont;
  margin-left: 0;
  float:left;
  font-size: .88em;
  clear: both;
  padding-left:0;

}


figure.align-right {
  width: 177px;
  padding-left:17px;
  float:right;
}

figure.align-left figcaption {
  font-family: $sanseriffont;
  font-size: .88em;
  clear: both;
}








/*
Table styles
*/

table  {
  margin: 1em 0 1.5em 0;
  border: solid 1px gray;
  width: 100%;
}

th  {
  font-family: $sanseriffont;
  font-size: .88em;
  font-weight: 700;
  border: solid 1px gray;
  padding: 3px;
  text-align:center;
  vertical-align: bottom;
}


td  {
  font-family: $sanseriffont;
  vertical-align: top;
  font-size: .82em;
  border: solid 1px gray;
  padding: 3px 5px;
  text-align:left;
}

tr td:first-child {
  text-align:left;
}















/*
Subscripts and superscripts
*/


sup {
vertical-align: super;
font-size: smaller;
line-height:0;
}

sub {
vertical-align: sub;
font-size: smaller;
line-height:0;
}








/*
Special elements
*/
















.hangingindent {
  text-indent: -2em;
  padding-left: 2em;
}






.field-name-continue-reading {
  margin-bottom: 1.5em;
}







/*
Second sidebar (right rail)
*/

aside.layout-sidebar-second h2 {
  font-family: $sanseriffont;
  font-size: 1.0em;
  line-height: 1.3;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .02em;
  color: $warmgray;
  margin: 1em 0 .25em 0;
}


aside.layout-sidebar-second li {
  font-family: $sanseriffont;
  font-size: .88em;
  line-height: 1.3;
}



aside.layout-sidebar-second p {
  margin-left: 0;
}











/*
Pages
*/



















/*
Miscellaneous
*/








/*
*/


.field-name-service-links-displays-linkedin-share-button
 {
  display: inline-block;
  margin-right: 9px;
  @include breakpoint($desk) {
  margin-top: 2em;
  float: left;
  clear: both;
  width: $leftraillive;
  }
}

.field-name-service-links-displays-twitter-widget {
  display: inline-block;
  margin-right: 9px;
  @include breakpoint($desk) {
  float: left;
  clear: both;
  width: $leftraillive;
  }
}



.field-name-service-links-displays-facebook-share
 {
  padding-top:3px;
  display: inline-block;
  @include breakpoint($desk) {
  float: left;
  clear: both;
  width: $leftraillive;
  }
}








/*
Markup generated by theme_pager().
*/
ul.pager {
  margin-top: 2em;
  clear: both;
  text-align: center;
}

ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: 0.5em;
}


/*
Figures
*/







.imagecredit {
  font-family: $sanseriffont;
  margin-top: .5em;
  font-size:.8em;
  line-height:1.45;
  color:#333;
}










